<!DOCTYPE html>
<html lang="en">

<head>
  <title>GreenHouses</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="home.js"></script>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">GreenHouses</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/pending">Pending</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <h2>My GreenHouses</h2> {{ range . }}

    <div class="col-sm-4 well text-center">
      <a href="/info?id={{ .Id }}">
        <img src="/camera?id={{ .Id }}" class="img-rounded img-responsive">
      </a>
      <br/>

      <h3>{{ .Name }}</h3>
      <h5>@ {{ .Ip }}</h5>
      <hr/>

      <a href="/info?id={{ .Id }}">
        <button class="btn btn-default">Information</button>
      </a>
    </div>

    {{ end }}
  </div>


</body>

</html>
