<!DOCTYPE html>
<html lang="en">

<head>
  <title>GreenHouses</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="home.js"></script>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GreenHouses</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/pending">Pending</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <div>

    </div>
    <h2>Pending Approval GreenHouses</h2> {{ range . }}
    <div class="col-sm-4 well text-center">
      <h3>{{ .Name }}</h3>
      <h5>@ {{ .Ip }}</h5>
      <hr/>
      <form method="post" action="/pending">
        <button type="submit" name="action" value="accept" class="btn btn-success">Accept</button>
        <button type="submit" name="action" value="deny" class="btn btn-danger">Deny</button>
        <input name="greenhouse_name" id="greenhouse_name" value="{{ .Name }}" hidden/>
        <input name="greenhouse_id" id="greenhouse_id" value="{{ .Id }}" hidden/>
      </form>
      <br/>
      <a href="/info?id={{ .Id }}">
        <button class="btn btn-default">Information</button>
      </a>
    </div>

    {{ end }}


  </div>


</body>

</html>
